:root {
    --color-white: hsl(0, 0%, 98%);
    --color-medium-gray: #696969;
    --color-black: #141414;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Epilogue', sans-serif;
}

.App {
    font-weight: 500;
}